<p>Felhasználónév és jelszó nélkül beléphetünk</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="username">Felhasználónév</label>
        <input type="text" 
        class="form-control" 
        id="username" 
        formControlName="username">
    </div>

    <div class="form-group">
        <label for="password">Jelszó</label>
        <input type="password" 
        class="form-control" 
        id="password" 
        formControlName="password">   
    </div>

    <button type="submit" 
    class="btn btn-primary mt-3">
    Bejelentkezés</button>
</form>
